<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">



<servlet>
	<servlet-name>Seeder</servlet-name>
	<servlet-class>com.konnect2grow.seeder.SeederAction</servlet-class>
			
</servlet>

<servlet-mapping>
	<servlet-name>Seeder</servlet-name>
	<url-pattern>/seeder</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Admin</servlet-name>
	<servlet-class>com.konnect2grow.admin.AdminAction</servlet-class>
			
</servlet>

<servlet-mapping>
	<servlet-name>Admin</servlet-name>
	<url-pattern>/admin</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>SeedKey</servlet-name>
	<servlet-class>com.konnect2grow.seedkey.SKeyAction</servlet-class>
			
</servlet>

<servlet-mapping>
	<servlet-name>SeedKey</servlet-name>
	<url-pattern>/skey</url-pattern>
</servlet-mapping>

<welcome-file-list>
	<welcome-file>/login.jsp</welcome-file>
</welcome-file-list>
</web-app>